
@{
    ViewBag.Title = "Home";
}

<h2 class="text-center text-primary">Restaurant</h2>

<ul class="nav nav-tabs bg-success justify-content-center">

    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/Food_Items/Index">Food Item</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Collect_Requests/Index">Collection Request </a>
    </li>

    <li>
        <a href="~/Home/AddUser">Log Out</a>
    </li>
</ul>

